.profile{
  padding-top: 40px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 670px) {
  .profile {
    flex-direction: column;
    padding: 42px 19px 0 19px;
  }
}
