.elements{
  padding-top: 51px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 16px;
  justify-content: center;
}
@media (max-width: 900px) {
  .elements {
    padding-top: 36px;
    max-width: 100%;
  }
}

@media (max-width: 660px) {
  .elements {
    max-width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}