.form__close-icon{
  background: none;
  background-image: url('../../../images/Close_Icon.svg');
  background-size:contain;
  border: unset;
  padding: 0;
  width: 32px;
  height: 32px;
  z-index: 10;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media (min-width: 320px) and (max-width: 520px) {
  .form__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.form__close-icon:hover{
  opacity: 0.6;
  cursor:pointer;
}
