.header{
  max-width: 100%;
  max-height: 74px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (min-width: 320px) and (max-width: 1034px) {
  .header {
    padding: 28px 27px 0 27px;
  }
}